# -- Core --
pyrofork
tgcrypto
pytz
async-timeout

# -- Database --
motor
pymongo[srv]
dnspython

# -- Network & Web --
aiohttp
requests
bs4
shortzy

# -- Media Processing --
Pillow
hachoir
filetype
pikepdf
pyzipper
static-ffmpeg

# -- AI & Features --
google-generativeai
yt-dlp
edge-tts
humanize
jinja2

# -- External --
git+https://github.com/joelkb/cinemagoer
